<meta charset="UTF-8" />
<title>Neo Monserrat</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="Neo Monserrat homepage." />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
/>

<link rel="stylesheet" href="css/base/tokens.css" />
<link rel="stylesheet" href="css/base/base.css" />

<link rel="stylesheet" href="css/components/background.css" />
<link rel="stylesheet" href="css/components/buttons.css" />
<link rel="stylesheet" href="css/components/topbar.css" />
<link rel="stylesheet" href="css/components/mobile-nav.css" />
<link rel="stylesheet" href="css/components/footer.css" />
